<%= render 'playlists/navigation_not_root' %>

<div class="debug container">
	<div class="debug row">
		<div class="debug col span-12-d">
			<h2 class="heading-shadow">Our Story</h2>
			<p>We first saw each other at a metro station in Santiago, Chile.</p>
			<p>Pablo likes to say we met online because I was hunting for a Latino. I like the romantic version better.</p>
		</div> <!-- close-12 -->
	</div> <!-- close-row-->
</div> <!-- close-container -->

	<h3 class="married-background">The Surprise Trip to Kauai, Hawai'i</h3>
	<section id="engagement-photos">
		<%= image_tag "IMG_0898.png", :alt => "1" %>
		<%= image_tag "IMG_3707.png", :alt => "2" %>
		<%= image_tag "IMG_3648.png", :alt => "3" %>
		<%= image_tag "IMG_0906.png", :alt => "4" %>
		<%= image_tag "IMG_0914.png", :alt => "5" %>
		<%= image_tag "IMG_0917.png", :alt => "6" %>
		<%= image_tag "IMG_0951.png", :alt => "7" %>
		<%= image_tag "IMG_0942.png", :alt => "8" %>
		<%= image_tag "IMG_0953.png", :alt => "9" %>
		<%= image_tag "IMG_3697.png", :alt => "10" %>
	</section>

	<div class="debug row">
		<div class="debug col span-12-d">
			<h4 class="married-background">ENGAGEMENT STORY</h4>

			<div class="container">
				<p>Pablo and I wanted to go hiking before hitting the beach. We stocked up on water, snacks and in true tropical fashion, some plastic supermarket leis. We headed off to the trailhead. It was an out and back hike with incredible views of the island. We made it to the top, danced a bit in a light rain and headed back down.</p>
				<h4 class="txt-center">love + shock + joy</h4>
				<p>Pablo got it so right. We love to be near water, we hike often and the colors surrounding us were bold, bright and full of joy. At one overlook on our way back down the trail Pablo kept repeating, 'this is the perfect place.' Yes, it was. A view of Hanalei Bay and the surrounding mountains. It was incredible. So when he said, 'Jaclyn, you aren't getting it. This is the perfect place to ask you to marry me.' I about died. Sweaty and dirty from a few scrambles, I was so surprised!</p>
				<p>Pablo grabbed the lei and placed it on my head. And he had a lei for himself, too. And then he asked, "will you marry me three times?"</p>
			</div>
		</div>
	</div> <!-- close-container -->

	<div class="debug married-background">
		<h3>WE GOT MARRIED!</h3>
		<h4>June 12, 2015</h4>
	</div>
	
<div class="container">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
		<li data-target="#myCarousel" data-slide-to="3"></li>
		<li data-target="#myCarousel" data-slide-to="4"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<%= image_tag "pablo056.jpg", :alt => "wedding in Kauai" %>
		</div>
		<div class="item">
			<%= image_tag "pablo101.jpg", :alt => "wedding in Kauai" %>
		</div>
		<div class="item">
			<%= image_tag "pablo043.jpg", :alt => "wedding in Kauai" %>
		</div>
		<div class="item">
			<%= image_tag "pablo150.jpg", :alt => "wedding in Kauai" %>
		</div>
		<div class="item">
			<%= image_tag "IMG_3601.png", :alt => "wedding in Kauai" %>
		</div>
		<div class="item">
			<%= image_tag "pablo230.jpg", :alt => "wedding in Kauai" %>
		</div>
		<div class="item">
			<%= image_tag "pablo026.jpg", :alt => 'holding hands on the beach' %>
		</div>
	</div>

	<!-- Left and right controls -->
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><span class="sr-only">Previous</span></a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span class="sr-only">Next</span></a><br><br><br>
	</div>
</div> <!-- close container -->















