<%= render 'playlists/navigation_not_root' %>

<div class="container">
	<div class="row">
		<div class="col span-12-d">
			<h2 class="heading-shadow">RSVP</h2>
		</div>
	</div>
</div> <!-- close-container -->

<div class="col span-12-d">
	<div class="rsvp-form">
		<%= form_for :user, :url =>url_for(controller: 'rsvps', action: 'create'), :html => {:method => :post} do |f| %>
		<p class="space">
			<%= f.label :name, class: 'label-rsvp' %><br>
			<%= f.text_field :name, class: 'input-txt' %>
		</p>

		<p class="space">
			<%= f.label :email, class: 'label-rsvp' %><br>
			<%= f.text_field :email, class: 'input-txt' %>
		</p>

		<p>
			<%= radio_button_tag(:rsvp_response, "Yes") %>
			<%= label_tag(:rsvp_response, "Let's Set Sail! I/We will be there!", class: 'rsvp-button-txt') %>
		</p>
		<p>
			<%= radio_button_tag(:rsvp_response, "No") %>
			<%= label_tag(:rsvp_response, "Regretfully, have to stay anchored.", class: 'rsvp-button-txt') %>
		</p>

		<%= f.submit "Submit", class: "submit-button" %>

		<% end  %>
	</div>
</div>