<%= render 'playlists/navigation_not_root' %>

<div class="container">
	<div class="row">
		<div class="col span-12-d">
			<h2 class="heading-shadow">RSVP</h2>
		</div>
	</div>
</div>

<div class="col span-12-d">
	<div class="rsvp-form">
		<%= form_for :rsvp, :url =>url_for(controller: 'rsvps', action: 'create'), :html => {:method => :post} do |f| %>
		
		<p class="space">
			<%= f.text_field :name, placeholder: 'your name(s)', class: 'input-txt' %>
		</p>

		<p class="space">
			<%= f.text_field :email, placeholder: 'email', class: 'input-txt' %>
		</p>

		<p class="space">
			<%= f.text_field :number_of_guests, placeholder: 'how many?', class: 'input-txt' %>
		</p>

		<p>
			<%= f.radio_button :rsvp_response, 'yes' %> 
  		<%= f.label :rsvp_response, "Let's Set Sail! I/We will be there!", :value => 'yes', class: 'rsvp-button-txt' %>
		</p>
		<p>
			<%= f.radio_button :rsvp_response, "No" %>
			<%= f.label :rsvp_response, "Regretfully, have to stay anchored.", :value => 'no', class: 'rsvp-button-txt' %>
		</p>

		<p class="space">
			<%= f.fields_for :playlists do |playlist| %>
			<%= playlist.text_field :song,  placeholder: 'what song do you love to dance to?', class: 'song-input' %>
		</p>

		<%= f.submit "Submit", class: "submit-button" %>

		<% end  %>
	</div>
	<% end %>
</div>