<%= render 'playlists/navigation_not_root' %>

<div class="container">
	<div class="row debug">
		<div class="col span-12-d debug">
			<h1>Honeymoon Trip + Gift Registry</h1>
			<h3>Pablo and Jaclyn's Adventure to Japan</h3>
		</div>
	</div> <!-- row div -->
</div>

		<div class="row friendship">
		<div class="col span-8-d debug gifts-story">
			<p>We have been asked what we want/need as a newly married couple. Simple - your friendship and love.</p>
			<p>Your presence at our wedding and on the dance floor is what we want most of all.</p>
			<p>But if you insist, we would also love an incredible honeymoon adventure to Japan. We want to see and do as much as we can on a 10-day trip.</p>
			<p>Here's how it works. Just pick an item you would like to contribute to, click and make an online payment directly to us. You'll be asked to leave your name and message and please do, we want to thank you for keeping us well fed in Tokyo.</p>
		</div>

		<div class="col span-4-d debug">
			<h4>the utensils and home decor?</h4>
			<div class="registry-box-align">
			<a href="http://www.etsy.com/registry/NzQ4NzEwN3w4Njk1ODcw/" title="See our registry on Etsy"><%= image_tag("etsy-registry.jpeg", :alt => 'etsy-registry', height: 100, width: 110) %></a>
			<a href="http://www.amazon.com/registry/wedding/CM4P9915GL6J" title="Registry on Amazon"><%= image_tag("amazonRegistry.png", :alt => "amazon registry", height: 90, width: 160) %></a>
		</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
				<% index = 0 %>
				<% @items.each do |item| %>
			<div class="col span-12-d debug gift-border">
				<div class="col span-3-d debug photo-style">
					<%= image_tag(item.image, :alt => "flights", height: 130, width: 140) %>
				</div>

				<div class="col span-6-d debug">
					<h4 class="registry-title"><%= item.title %></h4>
					<p class="description"><%= item.description %></p>
				</div>

				<div class="col span-3-d debug">
					<p id="cost-txt">possible contribution
					<p class="cost">$ <%= item.remaining_amount %>.00 left to go!</p>

					<form id="myForm" action="/charges" method="POST">
						<span id="dollar-sign">$</span><input type="text" id= "amount_<%= index %>" name="amount_<%= index %>" />
						<input type="hidden" id="stripeToken" name="stripeToken" />
						<input type="hidden" id="stripeEmail" name="stripeEmail" />
					</form>

						<input type="button" class="contribute-btn customButton" value="contribute" data-index="<%= index %>">		
				</div>
				<% index += 1 %>
			</div>
			
				<% end %>
		</div>
	</div>

