<%= render 'playlists/navigation_not_root' %>

<div class="container">
	<div class="row debug">
		<div class="col span-12-d debug">
			<h1>Honeymoon Trip + Gift Registry</h1>
			<h3>Pablo and Jaclyn's Adventure to Japan</h3>
		</div>
	</div> <!-- row div -->
</div>

	<!-- <div class="col span-12-d friendship debug"> -->
		<div class="row friendship">
		<div class="col span-8-d debug">
			<p>We have been asked what we want/need as a newly married couple. Simple - your friendship and love.</p>
			<p>Your presence at our wedding and on the dance floor is what we want most of all.</p>
			<p>But if you insist, we would also love an incredible honeymoon adventure to Japan.We want to see and do as much as we can on a 10-day trip.</p>
			<p>Here's how it works. Just pick an item you would like to contribute to, click and make an online payment directly to us. You'll be asked to leave your name and message and please do, we want to thank you for keeping us well fed in Tokyo.</p>
		</div>

		<div class="col span-4-d debug">
			<h4 class="registry-header">the utensils and home decor?</h4>
			<a href="http://www.etsy.com/registry/NzQ4NzEwN3w4Njk1ODcw/" title="See our registry on Etsy"><img class="registry-buttons" src="http://www.etsy.com/images/registry/see-my-registry-etsy.png" alt="See our registry on Etsy" /></a>
			<a href="http://www.amazon.com/registry/wedding/CM4P9915GL6J" title="Registry on Amazon"><%= image_tag("amazon.png", :alt => "amazon registry", height: 110, width: 120) %></a>
		</div>
	</div>

	<div class="container registry-background">
		<div class="row">
			<div class="col span-12-d gift-border debug">
				<div class="col span-3-d debug photo-style">
					<%= image_tag("http://i.telegraph.co.uk/multimedia/archive/02070/air-getty_2070440c.jpg", :alt => "flights", height: 100, width: 110) %>
				</div>

				<div class="col span-6-d debug">
					<h4 class="registry-title">Round Trip Airfare</h4>
					<p>We want to explore Japan!</p>
				</div>

				<div class="col span-3-d debug">
					<p class="cost">$100.00</p>
					<p class="multiplier">* 40</p>
					<button class="contribute-button">Contribute</button><form action="" method="POST">
						<script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_UlUbDYdUkO0qkJ2r1Iw3DYtZ" data-amount="2000" data-name="Demo Site" data-description="2 widgets ($20.00)" data-image="/128x128.png"data-locale="auto"></script>
</form>



				</div>
			</div>
		</div>

		<div class="row">
	<div class="col span-12-d gift-border debug">
		<div class="col span-3-d debug photo-style">
			<%= image_tag("https://tokyo5.files.wordpress.com/2009/03/dscf4677.jpg", :alt => "flights", height: 100, width: 110) %>
		</div>

		<div class="col span-6-d debug">
			<h4 class="registry-title">Lodging</h4>
			<p>Your gift will keep us well rested. No hostels on our honeymoon!</p>
		</div>

		<div class="col span-3-d debug">
			<p class="cost">$90</p>
			<p>* 30</p>
			<button class="contribute-button">Contribute</button>
		</div>
	</div>
</div>
	
	<div class="row">
	<div class="col span-12-d gift-border debug">
		<div class="col span-3-d debug photo-style">
			<%= image_tag("http://www.onislam.net/english/oimedia/onislamen/images/mainimages/Japanese-Traditional-Sushi-Recipe.jpg", :alt => "flights", height: 100, width: 110) %>
		</div>

		<div class="col span-6-d debug">
			<h4 class="registry-title">Classic Japanese Meals</h4>
			<p>Japanese food is interesting, creative and delicious. We love rice! This gift will help us taste our way around Japan.</p>
		</div>

		<div class="col span-3-d debug">
			<p class="cost">$30</p>
			<p>* 10</p>
			<button class="contribute-button">Contribute</button>
		</div>
	</div>
</div>
	
	<div class="row">
	<div class="col span-12-d gift-border debug">
		<div class="col span-3-d debug photo-style">
			<%= image_tag("http://ak-hdl.buzzfed.com/static/2013-10/enhanced/webdr03/1/12/enhanced-buzz-wide-21599-1380645416-11.jpg", :alt => "flights", height: 100, width: 110) %>
		</div>

		<div class="col span-6-d debug">
			<h4 class="registry-title">Spa Day</h4>
			<p>What honeymoon would be complete without a couples massage or pedicure?</p>
		</div>

		<div class="col span-3-d debug">
			<p class="cost">$75.00</p>
			<p>*2</p>
			<button class="contribute-button">Contribute</button>
		</div>
	</div>
</div>
	
	<div class="row">
	<div class="col span-12-d gift-border debug">
		<div class="col span-3-d debug photo-style">
			<%= image_tag("http://media-cache-ec0.pinimg.com/736x/23/a4/26/23a42649f0ee14effe791c718f691cde.jpg", :alt => "flights", height: 100, width: 110) %>
		</div>

		<div class="col span-6-d debug">
			<h4 class="registry-title">Cooking Class</h4>
			<p>Pablo says my rice could use some work. I got the hint; help me feed my hungry husband!</p>
		</div>

		<div class="col span-3-d debug">
			<p class="cost">$50.00</p>
			<p>* 2</p>
			<button class="contribute-button">Contribute</button>
		</div>
	</div>
</div>
	
	<div class="row">
	<div class="col span-12-d gift-border debug">
		<div class="col span-3-d debug photo-style">
			<%= image_tag("https://upload.wikimedia.org/wikipedia/commons/1/17/Horyu-ji11s3200.jpg", :alt => "flights", height: 100, width: 110) %>
		</div>

		<div class="col span-6-d debug">
			<h4 class="registry-title">Sightseeing</h4>
			<p>From gardens to temples to hot springs and islands, there is so much to see!</p>
		</div>

		<div class="col span-3-d debug">
			<p class="cost">$50.00</p>
			<p>* 10</p>
			<button class="contribute-button">Contribute</button>
		</div>
	</div>
</div>

	<div class="row">
	<div class="col span-12-d gift-border debug">
		<div class="col span-3-d debug photo-style">
			<%= image_tag("http://www.anniesbacktoedengarden.com/images/10%20best%20cherry%20blossom%20japan.jpg", :alt => "flights", height: 100, width: 110) %>
		</div>

		<div class="col span-6-d debug">
			<h4 class="registry-title">Wild Card</h4>
			<p>Inspire us!</p>
		</div>

		<div class="col span-3-d debug">
			<p class="cost">$25.00</p>
			<p>* 10</p>
			<button class="contribute-button">Contribute</button>
		</div>
	</div>
</div>
</div>  <!-- div for container -->