<nav>
	<ul class="nav-2">
		<li><%= link_to "Jaclyn + Pablo", root_path %></li>
		<li><%= link_to "Our Story", story_index_path %></li>
		<li><%= link_to "When & Where", where_index_path, 'data-no-turbolink' => true %></li>
		<li><%= link_to "Registry", registry_index_path %></li>
		<li><%= link_to "Playlist", new_playlist_path %></li>
		<li><%= link_to "RSVP", new_rsvp_path %></li>
	</ul>
</nav>