<%= render 'playlists/navigation_not_root' %>

<div class="container">
	<div class="row">
		<div class="col span-12-d">
			<h2>CONTRIBUTE TO THE PLAYLIST</h2>
			<h3>What songs do you love to dance to?</h3>
		</div>
	</div>
</div> <!-- close-container -->

<div class="col span-12-d">
	<div class="playlist-style">
		<%= form_for :playlist, :url =>url_for(controller: 'playlists', action: 'create'), :html => {:method => :post} do |f| %>
		<p class="space">
			<%= f.label :song_one %><br>
			<%= f.text_field :song_one %>
		</p>

		<p class="space">
			<%= f.label :song_two %><br>
			<%= f.text_field :song_two %>
		</p>

		<p class="space">
			<%= f.label :song_three %><br>
			<%= f.text_field :song_three %>
		</p>

		<%= f.submit "Submit", class: "submit-button" %>

		<% end  %>
	</div>
</div>